/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro-Lt';
    src: url('fonts/AmericanTypewriterITCPro-Lt.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chocoladeletter';
    src: url('fonts/Chocoladeletter.woff2') format('woff2'),
        url('fonts/Chocoladeletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro';
    src: url('fonts/AmericanTypewriterITCPro-Bold.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro-Med';
    src: url('fonts/AmericanTypewriterITCPro-Med.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: white;
    --color-background: red;
    --lettertype: 'AmericanTypewriterITCPro';
    --groottenavigatie: 1.2em;
    --lineheight: 1.39;
    --font-size: 18px;
    --cursor: pointer;

}

/****************/
/* JOUW STYLING */
/****************/


/* jouw code */

html {
    margin: 1.8em;
}


body {
    background-color: var(--color-background);
    font-family: var(--lettertype);
    color: var(--color-text);
    font-weight: var(--gewicht);
    font-style: var(--stijl);
}

main {
    display: flex;
    justify-content: center;
}



/**************/
/*header*/
/**************/

nav {
    /* display: flex; */
    /* justify-content: right; */
    /* align-items: center; */
    font-size: var(--groottenavigatie);
    font-family: var(--lettertype);
    /* font-weight: 700; */
    /* text-transform: lowercase; */
    cursor: var(--cursor);
}

/* ul {
    display: flex;
    gap: 2em;
} */

/* li:hover {
    border-bottom: 2.5px solid white;
} */

/* li a:active {
    border-bottom: 2.5px solid white;
} */

li.nietbold {
    font-family: 'AmericanTypewriterITCPro-Lt';
}

ul li:nth-of-type(1) {
    list-style: none;
}

.tweedenav {
    gap: .7em;
}

.tweedenav li {
    list-style: none;
}

.vlag {
    width: 2.5em;
}

.shoppingbag {
    width: 1.4em;
}

.inloggen {
    width: 5em;
}

.mission-bar__frame {
    z-index: 2;
    display: block;
}

.image-carousel {
    width: 900px; /* Pas de breedte en hoogte aan op basis van je afbeeldingen */
    height: 900px;
    overflow: hidden;
  }

  .image-carousel img {
    width: 100%;
    height: auto;
    /* display: none; */
  }

.image-carousel img {
    display: none;
}

.image-carousel img.current {
    display: inherit
}

/* Style the navigation menu */
 .topnav {
    overflow: hidden;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
 
  /* Style the active link (or home/logo) */
  .active {
    color: white;
  } 