/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro-Lt';
    src: url('fonts/AmericanTypewriterITCPro-Lt.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chocoladeletter';
    src: url('fonts/Chocoladeletter.woff2') format('woff2'),
        url('fonts/Chocoladeletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro';
    src: url('fonts/AmericanTypewriterITCPro-Bold.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmericanTypewriterITCPro-Med';
    src: url('fonts/AmericanTypewriterITCPro-Med.woff2') format('woff2'),
        url('fonts/AmericanTypewriterITCPro-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: white;
    --color-background: red;
    --lettertype: 'AmericanTypewriterITCPro';
    --groottenavigatie: 1.2em;
    --lineheight: 1.39;
    --font-size: 18px;
    --cursor: pointer;
}

/****************/
/* JOUW STYLING */
/****************/


/* jouw code */

html {
    margin: 1.8em;
}

body {
    background-color: var(--color-background);
    font-family: 'AmericanTypewriterITCPro';
    color: var(--color-text);
    font-weight: var(--gewicht);
    font-style: var(--stijl);
}

main {
    display: flex;
    justify-content: center;
}



/**************/
/*header*/
/**************/

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: var(--groottenavigatie);
    font-family: var(--lettertype);
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1;
    text-transform: lowercase;
    color: inherit;
    cursor: var(--cursor);
}

ul {
    display: flex;
    gap: 2em;
}

li:hover {
    border-bottom: 2.5px solid white;
}

li a:active {
    border-bottom: 2.5px solid white;
}

li.nietbold {
    font-family: 'AmericanTypewriterITCPro-Lt';
}

ul li:nth-of-type(1) {
    list-style: none;
}

.tweedenav {
    gap: .7em;
}

.tweedenav li {
    list-style: none;
}

.vlag {
    width: 2.5em;
}

.shoppingbag {
    width: 1.4em;
}

.inloggen {
    width: 5em;
}

.mission-bar__frame {
    z-index: 2;
    display: block;
}

#image-container {
    width: 900px;   
    height: 900px;
    overflow: hidden;
  }

  #image-container img {
    width: 100%;
    height: auto;
    /* display: none; */
  }